#container {
    padding: 0;
    margin: 0;
    display:grid;
    height:100vh;
    
    grid-template-rows: 12% 15% 7% auto 10%; 
    grid-template-columns: 100%;
    grid-template-areas:
    'hd'
    'sc1'
    'sc2'
    'sc3'
    'ft'; }

#container2 {
    padding: 0;
    margin: 0;
    display:grid;
    height:100vh;
        
    grid-template-rows: 12% 100px 50px 250px auto auto; 
    grid-template-columns: 100%;
    grid-template-areas:
    'hd'
    'sc1'
    'sc2'
    'sc3'
    'sc4'
    'ft'; }





@media screen and (max-width: 425px) {

    header {
        grid-area: 'hd';
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
        height: 100%;
        gap: 40px;

    }

    #section1 {
        grid-area: 'sc1';
        padding: 15px;
        border-radius: 9px;


    }

    #section2 {
        grid-area: 'sc2';
        text-align: center;


    }
    
    #section3 {
        grid-area: 'sc3';
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;

    }

    .Spelkort {
        width: 120px;
        height: 120px;
        padding: 10px;
        border-radius: 10px;

    }


    #sectionR1 {
        grid-area: 'sc1';
        margin-top: 5%;
        margin-left: 8%;
        margin-right: 8%;
        margin-bottom: 3%;
        display: grid;
    }

    #sectionR2 {
        grid-area: 'sc2';
        display: flex;
        padding-left: 10%;
        padding-right: 10%;
        gap: 3%;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
        border-radius: 10px;
    }

    #sectionR3 {
        grid-area: 'sc3';
        margin: 2%;
        background-color: lightgray;
    }

    #sectionR4 {
        grid-area: 'sc4';
    
    }

    .latestroll {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: gray;
        
    }

    #PlaceBet {
        display: flex;
        align-items: left;
        padding-left: 8px;
        margin: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
        color: white;
    }

    #AdjustBet {
        display: flex;
        flex-direction: row; 
        height: 19px ;
        overflow: hidden; 
        gap: 5%; 
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;

    
    }
    
    .AdjustBetBox {
        display: flex;
        justify-content: center;
        height: 19px;
        width: 50px; 
        border-radius: 10px;
        background-color: gray;

    }

    #BetAmount {
        display: flex;
        height: 40px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        background-color: gray;
        align-items: center;
        padding-left: 10px;
        border-radius: 5px;
        color: white;
    }

    #HalfDoubleContainer {
        margin-top: 20px;
        display: flex;
        height: 20px;
        margin-left: 30px;
        margin-right: 30px;        
        justify-content: center;
        gap: 40px;

        
    }

    .HalfDouble {
        height: 20px;
        width: 140px;
        background-color: gray;
        border-radius: 5px;
        padding-left: 7px;
        padding-top: 2px;
        color: white;
        
    }
}


#center {
    margin: 0;
}

.material-symbols-outlined {
    cursor: pointer;

}